/vendor/
/.ddev/
/.ddev*/
/.idea/
**/.env
/public/test.php
/data/log/*
!/data/log/.gitkeep
/data/cache/*
!/data/cache/.gitkeep
/data/cache/orm/*
!/data/cache/orm/.gitkeep
/data/persistent/*
!/data/persistent/.gitkeep
db.sql
